<h1> Enter your credentials</h1>

<%= form_tag(controller: "checkout", action: "save_checkout", method: "post", class: "") %>
  <h4> Select address</h4>
  <table>
    <% @addresses.each do |address| %>
    <tr>
      <td><input type="radio" name="address_id" value="<% address.id %>"></td>
      <td>
        <%= render partial: 'addresses/show', locals: {address: address}%>
      </td>
    <% end %>
  </table>

</form>
