<h1> List of all Products</h1>
<div>
  <h2> <%= link_to 'Create New Product', new_product_path, :class => "crud-link" %></h2>
</div>

<div class="row">
    <%= render partial: 'shared/product_list', locals: {products: @products} %>
</div>

</div>
